<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/enrollment.css' %}" />
  </head>
  <body>
    <main class="main-container">
      <section class="side-panel identifier">
        <div class="side-panel-wrapper">
          <div class="profile-information">
            <div class="image-container">
              <img src="{% static 'images/profile.jpeg' %}" alt="" />
            </div>
            <div class="profile-headline">
              <h3>{{ user.Name }}</h3>
              <p>Class A</p>
            </div>
          </div>
          <nav class="side-nav profile-navigation">
            <ul class="side-nav nav-list">
              <li class="">
                <a href="{% url 'profile' %}">Personal Data</a>
                <i class="fa-solid fa-user"></i>
              </li>
              <li class="active">
                <a href="{% url 'enrolled' username=user.Username %}">Enrolled Courses</a>                <i class="fa-solid fa-book"></i>
              </li>
              <li>
                <a href="{% url 'quizes' %}">Exams</a>
                <i class="fa-solid fa-paste"></i>
              </li>
            </ul>
          </nav>
        </div>
        <div class="logo">
          <img src="{% static 'images/Preview (1).png' %}" alt="" />
        </div>
      </section>
      <section class="main-content content-section">
        <div class="dashboard-header">
          <div class="head-wrapper">
            <div class="nav-buttons">
              <i class="fa-solid fa-right-to-bracket"></i>
              <a href="{% url 'index' %}"> Logout </a>
            </div>
            <div class="nav-buttons">
              <i class="fa-solid fa-house"></i>
              <a href="{% url 'index' %}">Home</a>
            </div>
          </div>
        </div>
        <div class="dashboard-body">
          <div class="dashboard-wrapper">
            <div class="dashboard-headline">
              <h3>Enrolled Courses</h3>
            </div>
            <div class="dashboard-content">
              <div class="course">
                <div class="course-image">
                  <div class="overlay">
                    <i class="fa-solid fa-play"></i>
                  </div>
                  <img
                    src="{%static 'images/istockphoto-1931634876-612x612.jpg'%}"
                    alt=""
                  />
                </div>
                <div class="course-text">
                  <div class="course-headline">
                    <h5>{{ enrollment.course.CourseName }}</h5>
                    <p>Duration 04:35:55</p>
                    <p>Lessons 12</p>
                    <p>Finished 4</p>
                  </div>
                  <div class="course-actions">
                    <button class="exam-btn course-action" disabled>
                      Exam 4/12
                    </button>
                    <button class="watch-btn course-action">
                      <span>Watch</span> <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="course">
                <div class="course-image">
                  <div class="overlay">
                    <i class="fa-solid fa-play"></i>
                  </div>
                  <img
                    src="{%static 'images/istockphoto-1931634876-612x612.jpg'%}"
                    alt=""
                  />
                </div>
                <div class="course-text">
                  <div class="course-headline">
                    <h5>Mathematics 101</h5>
                    <p>Duration 04:35:55</p>
                    <p>Lessons 12</p>
                    <p>Finished 12</p>
                  </div>
                  <div class="course-actions">
                    <button class="exam-btn course-action">Exam 12/12</button>
                    <button class="watch-btn course-action">
                      <span>Watch</span> <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-footer">
              <div class="prev pagination-btns">
                <div class="icon">
                  <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="page-btn-text">
                  <p>prev</p>
                </div>
              </div>
              <div>1 of 1</div>
              <div class="next pagination-btns">
                <div class="page-btn-text">
                  <p>next</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/7031694be7.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
