<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}" />
    <title>Quiz - BrightMind</title>
  </head>
  <body>
    <header class="header-container" id="header">
      <div class="logo-container">
        <h1>BRIGHT<span>MIND</span></h1>
      </div>
      <nav class="nav-container">
        <ul class="list-wrapper">
          <li><a href="{% url 'index' %}">HOME</a></li>
          <li><a href="{% url 'about' %}">ABOUT</a></li>
          <li><a href="{% url 'courses' %}">COURSES</a></li>
          <li><a href="{% url 'quiz' exam.ExamID question_index %}">QUIZ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="quiz-section">
        <div class="quiz-header">
          <h2>Quiz: {{ exam.Title }}</h2>
          <p>{{ exam.Description }}</p>
          <p>Question {{ question_index|add:1 }} of {{ question_count }}</p>
        </div>
        <div class="question-container">
          <h3>{{ question.Question }}</h3>
          <div class="options">
            {% for choice in question.choices.all %}
            <div class="option">
              <label for="choice-{{ forloop.counter }}">
                {{ forloop.counter|add:64|stringformat:"c" }}. {{ choice.text }}
              </label>
              <input type="radio" id="choice-{{ forloop.counter }}" name="question-{{ question.id }}" />
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="navigation-buttons">
          {% if question_index > 0 %}
          <a class="login animated-button" href="{% url 'quiz' exam.ExamID question_index|add:-1 %}">
            <span>Previous</span>
          </a>
        {% else %}
          <a class="login animated-button" href="#">
            <span>Previous</span>
          </a>
        {% endif %}
         {% if question_index < question_count|add:-1 %}
  <a class="login animated-button" href="{% url 'quiz' exam.ExamID question_index|add:1 %}">
    <span>Next</span>
  </a>
{% else %}
  <a class="login animated-button" href="{% url 'quiz_finish' exam.ExamID %}">
    <span>Finish</span>
  </a>
{% endif %}
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 BrightMind. All rights reserved.</p>
    </footer>
  </body>
</html>
