<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/Preview (1).png' %}">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}" />
    <title>Quiz - BrightMind</title>
  </head>
  <body>
    <!-- <header class="header-container" id="header">
      <div class="logo-container">
        <h1>BRIGHT<span>MIND</span></h1>
      </div>
      <nav class="nav-container">
        <ul class="list-wrapper">
          <li><a href="{% url 'index' %}">HOME</a></li>
          <li><a href="{% url 'about' %}">ABOUT</a></li>
          <li><a href="{% url 'courses' %}">COURSES</a></li>
          <li><a href="{% url 'quiz' exam.ExamID question_index %}">QUIZ</a></li>
        </ul>
      </nav>
    </header> -->
    <main>
      <div class="sec-quiz">
        <div class="quiz-headline">
          <div class="button-container">
            <button class="login animated-button">
              <a style="color:#03915b;text-decoration: none;" href="{% url 'index' %}">End Quiz</a>
            </button>
          </div>
        </div>
        <div class="wts">
          <div>
            <p style="color: rgb(156, 154, 154); font-size: 14px">{{ exam }}</p>
            <p style="color: rgb(156, 154, 154); font-size: 16px">
              Question {{ question_index|add:1 }} of {{ question_count }}
            </p>
            <div
              style="color: rgb(156, 154, 154); font-size: 16px"
              class="exam-duration"
            >
              Duration {{exam.Duration}}
            </div>

            <p style="font-weight: bold; margin: 10px 0 30px">
              {{ question.Question }}
            </p>
          </div>
          <hr />
          <div>
            {% for choice in choices %}

            <div class="option">
              <label for="choice-{{ forloop.counter }}"> {{ choice }} </label>
              <input
                type="radio"
                id="choice-{{ forloop.counter }}"
                name="question-{{ question.id }}"
              />
            </div>
            {% endfor %}
            <!-- <div class="option">
                <label for="first-choose">(A). Lives</label>
                <input type="radio" name="ra" id="first-choose" />
              </div> -->
            <!-- <div class="option">
                <label for="sec-choose">(B). Goges</label>
                <input type="radio" name="ra" id="sec-choose" />
              </div>
              <div class="option">
                <label for="third-choose">(C). Arrives</label>
                <input type="radio" name="ra" id="third-choose" />
              </div>
              <div class="option">
                <label for="forth-choose">(D). Helps</label>
                <input type="radio" name="ra" id="forth-choose" />
              </div> -->
          </div>
        </div>
      </div>
      <div class="dashboard-footer">
        {% if question_index > 0 %}
        <a
          href="{% url 'quiz' exam.ExamID question_index|add:-1 %}"
          class="prev pagination-btns"
        >
          <div class="icon">
            <svg
              style="rotate: 180deg; width: 20px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="#000000"
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="page-btn-text">
            <p>prev</p>
          </div>
        </a>
        {% else %}
        <a class="prev pagination-btns">
          <div class="icon">
            <svg
              style="rotate: 180deg; width: 20px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="#000000"
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="page-btn-text">
            <p>prev</p>
          </div>
        </a>
        {% endif %}
        <div>{{ question_index|add:1 }} of {{ question_count }}</div>
        {% if question_index < question_count|add:-1 %}
        <a
          href="{% url 'quiz' exam.ExamID question_index|add:1 %}"
          class="next pagination-btns"
        >
          <div class="page-btn-text">
            <p>next</p>
          </div>
          <div class="icon">
            <svg
              style="width: 20px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="#000000"
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
        </a>

        {% else %}
        <a class="next pagination-btns">
          <div class="page-btn-text">
            <p>next</p>
          </div>
          <div class="icon">
            <svg
              style="width: 20px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="#000000"
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
        </a>
        {% endif %}
      </div>
      <!-- 
      <div class="btns">
        <div class="button-container">
          <div class="login animated-button login-header flexAbility">
            <div class="arrow ll">
              <svg
                style="rotate: 180deg"
                class="svg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="#000000"
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </div>
            <span>Previous</span>
          </div>
        </div>
        <div class="button-container">
          <div class="login animated-button login-header flexAbility">
            <span>Next</span>
            <div class="arrow rr">
              <svg
                class="svg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="#000000"
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </div>
          </div>
          <div class="button-container pos">
            <button class="login animated-button login-header flexAbility">
              <span>Finish</span>
            </button>
          </div>
        </div>
      </div> -->

      <!-- <section class="quiz-section">
        <div class="quiz-header">
          <h2>Quiz: {{ exam.Title }}</h2>
          <p>{{ exam.Description }}</p>
          <p>Question {{ question_index|add:1 }} of {{ question_count }}</p>
        </div>
        <div class="question-container">
          <h3>{{ question.Question }}</h3>
          <div class="options">
            {% for choice in choices %}

            <div class="option">
              <label for="choice-{{ forloop.counter }}"> {{ choice }} </label>
              <input
                type="radio"
                id="choice-{{ forloop.counter }}"
                name="question-{{ question.id }}"
              />
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="navigation-buttons">
          {% if question_index > 0 %}
          <a
            class="login animated-button"
            href="{% url 'quiz' exam.ExamID question_index|add:-1 %}"
          >
            <span>Previous</span>
          </a>
        {% else %}
          <a class="login animated-button" href="#">
            <span>Previous</span>
          </a>
        {% endif %}
         {% if question_index < question_count|add:-1 %}
  <a class="login animated-button" href="{% url 'quiz' exam.ExamID question_index|add:1 %}">
    <span>Next</span>
  </a>
{% else %}
  <a class="login animated-button" href="{% url 'quiz_finish' exam.ExamID %}">
    <span>Finish</span>
  </a>
{% endif %}
        </div>
      </section> -->
    </main>
  </body>
</html>
