<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/Preview (1).png' %}">
    <title>Sign Up - BRIGHTMIND</title>
  </head>
  <body>
    <section class="main-container">
      <div class="res-headline">
        <div class="logo-text">
          <p>BRIGHTMIND</p>
        </div>
      </div>
      <div class="side-panel-design">
        <div class="logo">
          <div class="logo-text">
            <p>BRIGHTMIND</p>
          </div>
          <div class="line-vert"></div>
        </div>
        <div class="bottom-text">
          <p>
            <span class="bottom-headline">With us</span><br />
            <span class="bottom-para">
              the learning curve is full of passion</span
            >
          </p>
        </div>
      </div>
      <div class="form-wrapper">
        <div class="form">
          <div class="form-header">
            <h2>Sign Up</h2>
          </div>
          <form class="form-container" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="input-container">
              <input
                class="inputs"
                placeholder="Enter your username"
                name="username"
                type="text"
                required
              />
            </div>
            <div class="input-container">
              <input
                class="inputs"
                placeholder="Enter your full name"
                name="name"
                type="text"
                required
              />
            </div>
            <div class="input-container">
              <input
                class="inputs"
                placeholder="Enter your email"
                name="email"
                type="email"
                required
              />
            </div>
            <div class="input-container">
              <input
                class="inputs"
                placeholder="Enter your mobile number"
                name="mobile"
                type="text"
                required
              />
            </div>
            <div class="input-container">
              <input
                class="inputs"
                placeholder="Enter your password"
                name="password"
                type="password"
                required
              />
            </div>
            <div class="input-container">
              <input
                class="inputs"
                placeholder="Confirm your password"
                name="confirm_password"
                type="password"
                required
              />
            </div>
            <div class="input-container sign-container">
              <a class="sign-up-btn" href="{% url 'login' %}">
                Already have an account? <strong>Click Here</strong>
              </a>
              <button class="sign-in-btn" type="submit">Sign Up</button>
            </div>
          </form>
          {% if messages %}
          <ul class="message-list">
            {% for message in messages %}
            <li class="message">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </section>
  </body>
</html>
