* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "system-ui";
  color: white;
}

p,
h1 {
  padding: 0 !important;
  margin: 0 !important;
}
body {
}
.bg-section {
  height: 100vh;
  background-image: url(../images/istockphoto-1931634876-612x612.jpg);
  background-color: #0000008a;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 10px;
  transition: 0.3s ease;
  z-index: 100000000000000000000;
}
.logo-container {
  color: white !important;
  & span {
    color: #1bc67e !important;
  }
}
.animateHeader {
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  .logo-container * {
    color: #1bc67e !important;
  }
  & a {
    color: #1bc67e;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    & li {
      list-style: none;
      & a {
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
}
.nav-link {
  color: white;
  transition: 0.3s ease;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transform-origin: center;
  margin-top: 2px;
  background-color: #1bc67e;
  transition: 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  color: #1bc67e !important;
}
a {
  text-decoration: none;
}
.login {
  padding: 5px 35px !important;
  border: 2px solid rgb(18, 209, 129) !important;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login:active {
  color: black;
  background-color: rgb(18, 209, 129);
}
.main {
  /* width: 75%; */
  /* padding: 150px 0; */
}

.main-wrapper {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.description {
  font-weight: lighter;
  margin-bottom: 50px;
  color: rgb(212, 212, 212);
}

.text-p {
  font-size: 15px;
  color: rgb(27 198 126);
}

.head-l {
  font-size: 50px;
  margin: 20px 0;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
}
.description {
  width: 65%;
  font-weight: 400;
}
.text-sub-wrapper {
}

.button-container {
  position: relative;
}

.animated-button {
  position: relative;
  background: none;
  border: 1px solid #1bc67e;
  color: #1bc67e;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: color 0.3s ease;
  & span {
    color: #1bc67e;
    transition: 0.3s ease;
    font-size: 14px;
  }
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1bc67e;
  z-index: 0;
  transition: left 0.3s ease, right 0.3s ease;
}

.animated-button:hover::before {
  left: 0;
  right: 0;
}

.animated-button:hover {
  & * {
    color: #fff !important;
    isolation: isolate;
  }
}

.animated-button span {
  position: relative;
  z-index: 1;
}

.standVideos {
  display: flex;
  align-items: center;
  justify-content: center;

  /* gap: 20px !important; */
  padding-block: 25px;
}
.services-box {
  display: flex;
  align-items: start;
  gap: 10px;

  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #1bc67f2a;
  border-left: 1px solid #1bc67f2a;
  padding: 25px !important ;
  & i {
    color: #1bc67e;
  }
  & p {
    color: #1bc67f88;
    text-transform: capitalize;
  }

  & h3 {
    color: #1bc67e !important;
  }
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.aboutsection-text {
  * {
    color: #1bc67e;
  }
}

.about-container {
  width: 100% !important
  ;
}
.about-wrapper {
  width: 75%;
  margin: auto;
  padding-block: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.image-wrapper {
  width: 50%;
  & img {
    width: 100%;
    border-radius: 15px;
  }
}
.aboutsection-text {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

footer {
  background-image: url(../images/Best\ Data\ Labeling\ Tools\ For\ Machine\ Learning\ in\ 2023.jpg);
  background-color: #000000bb;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  color: white;
  padding-block: 25px;
  padding-inline: 25px;
}

.cont-footer {
  width: 98%;
  margin: auto;
  /* padding-top: 40px; */
}

.svg {
  width: 20px;
  height: 20px;
}
.first-column {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
}

.flex {
  display: flex;
  gap: 25px;
  align-items: center;
}

.link-footer {
  display: flex;
  gap: 60px;
}

.a {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  gap: 40px;
}

.a a:hover {
  color: #1bc67e;
}
.control {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 90%;
  margin: auto;
  gap: 200px;
  margin-top: 20px;
}
.last {
  width: 85%;
  margin: auto;
  text-align: end;
  padding-bottom: 60px;
  font-size: 12px;
  margin-top: 30px;
}

path {
  color: black !important;
}
